:root {
  --color-primary: rgb(77, 77, 77);
  --color-black: #050a13;
  --color-white: #fff;
  --color-border: tomato;
  --color-silver: silver;
  --color-footer-bg: rgb(248, 248, 248);
  --color-lightgray: rgb(196, 190, 190);
  --color-moviechart: rgb(245, 245, 245); /*251*/
  --color-buttonbg: rgb(222, 222, 222);
  --color-gray-222: rgb(102, 102, 102);
  --color-font-primary: rgb(34, 34, 34);
  --color-green: rgb(110, 210, 109);
  --color-button: rgb(251, 67, 87);
  --color-login-font: rgb(137, 137, 135);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: '나눔고딕';
}


/* content 가운데 정렬 */
.center-layout {
  border: 1px solid tomato;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px
}

.center-title {
  border: 1px solid blue;
  padding: 40px 15px 10px;
  margin-bottom: 20px;
}

/* index-preview button style */
.total-view-button {
  border: 1px solid var(--color-buttonbg);
  background-color: #fff;
  color: var(--color-primary);
  border-radius: 15px;
  padding: 5px 13px;
  font-size: 14px;
  font-weight: 500;
}

/* content 정렬 */
/* moviechart, event, spacial -> title style */
.content-title-style{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  list-style-type: none;
  /* border: 1px solid red; */
} 

.content-title-style-font{
  font-size: 1.4rem;
  font-weight: 600;
} 

.font-color-main { color: var(--color-font-primary);}
.font-color-gray { color: var(--color-gray-222);}

.btn-main-color { 
  color: var(--color-white);
  border: 1px solid var(--color-white);
  background-color: var(--color-button);
  font-weight: 700;
}
