
/********************************************
  product-detail-tabs
********************************************/
.tabs {
  /* border: 1px solid red; */
  width: 100%;
  border-bottom: 2px solid #000;
  list-style-type: none;
}
.tabs:after {
  display: block;
  clear: both;
  content: "";
}
.tabs li {
  height: 80px;
  border: 1px solid #b5b5b5;
  border-bottom: none;
  border-left-width: 0;
  background-color: #fff;
  float: left;
}
.tabs li {
  width: 25%;
}
.tabs li:first-child {
  border-left-width: 1px;
}
.tabs li button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #333;
  font-size: 18px;
  font-family: "Noto Sans KR";
  outline: none;
  border: none;
  background-color: var(--color-white);
}
.tabs li button:hover {
  cursor: pointer;
}

.tabs li.active {
  border: 2px solid #000;
  border-bottom: none;
  height: 82px;
  margin-bottom: -2px;
}

.tabs li.active label {
  color: #000;
}

.tabs_contents {
  margin-top: 50px;
  /* height: 100%; */
  /* overflow: hidden; */
}


/********************************************
  product-tabs - detail 
********************************************/
.detail-images {
  /* border : 1px solid blue; */
  text-align: center;
  /* height: 100%;
  overflow: hidden; */
}
.detail-images .holidays-notice {
  /* border: 1px solid red; */
  margin-bottom: 80px;
}
.detail-images .product-images{
  width: 960px;
  height: 1280px;
  align-items: center;
  margin-bottom: 60px;
}
.detail-images.img {
  width: 40%;
  margin: 20px 0;
}

.detail-info{
  padding: 40px 0px;
  width: 960px;
  margin: auto;
  font-family: "나눔고딕";
  font-size: 0.8rem;
}
/* .detail-info-title-top {
  font-size: 0.9rem;
} */
.detail-info-title {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
.nolist {
  /* border: 1px solid blue; */
  list-style-type: none;
  margin: 5px 0 20px 0;
  padding: 0;
  line-height: 2;
}
.list li:before {
  content: "-";
  margin-right: 8px;
  line-height: 2;
}
.detail-info-notice {
  /* border: 1px solid tomato; */
  font-family: "나눔바른고딕";
  padding: 10px 0 50px 0;
  color: var(--color-black);
}
.detail-info-notice h3 {
  font-family: "나눔바른고딕";
}
.detail-info-notice .notice-list {
  /* border: 1px solid blue; */
  margin: 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: 0.5px;
}
.detail-info-notice .notice-list li {
  display: flex;
  padding: 18px 0;
  border-bottom: 1px solid lightgrey;
}
.detail-info-notice .notice-list li:first-child {
  border-top: 1px solid #333;
}
.detail-info-notice .notice-list li:last-child {
  border-bottom: 1px solid #333;
}
.detail-info-notice .notice-list label {
  display: block;
  width: 30%;
  padding-left: 50px;
  font-family: "나눔바른고딕";
  font-size: 0.8rem;
}
.detail-info-notice .notice-list li > p {
  font-family: "나눔바른고딕";
  font-size: 0.8rem;
}
.detail-info-notice .p {
  /* border: 1px solid blue; */
  display: block;
  /* width: 30%; */
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

