@import url(/cgv2/css/commons.css);

/*
* author : dahee
* title  : login style
* date   : 2024.11.
*/

.content {
  width: 100%;
}

.login-form { 
  border: 1px solid red;
  padding: 20px 0;
}

.login-form ul