/*
  selector 
  - class(.)
  - id(#)
  - element
  - parent > child

  * 명명규칙 - class : header__naming
  * 변수/상수 - --color-black : #ffffff
*/

/*
  Global
*/
:root {
  /* App Color */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-text: var(--color-white);

  /* Color list */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* size */
  --max-size-width: 1200px;
}

/* 
  Commons 
*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  /* Font-Type */
  margin: 0;
}
h1, h2, h3, p, ul, nav {
  margin: 0; /*블록타입은 기본적인 패딩,마진 존재*/
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;   
  border: 0;
  outline: 0;
}
button:focus {
  outline: 1px solid var(--color-accent);
}
.max-container {
  max-width: var(--max-size-width);
  margin: auto;
  /* border: 1px solid red; */
}
.section {
  padding: 4rem; 
  text-align: center;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/**************************** 
**********  Header ********** 
****************************/
.header { 
  background-color: var(--color-primary);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1; /*제일 위에 올라오게 하기 위해*/
 }

.header__logo {
  display: flex;
  align-items: center;
  gap:8px
}

.header__logo__title {
  font-size: 1.8rem;
  color: var(--color-text);
}

.header__logo__img {
  width: 36px;
  height: 36px;
  /* padding-right: 8px; */
}

.header__menu {
  /* border: 1px solid red; */
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
  color: var(--color-text);
}

.header__menu__item.active{
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

.header__toggle {
  border: 1px solid yellow;
  display: none;
  color: var(--color-text);
  font-size: 1.5rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}


/**************************** 
*******  body - Home ******** 
****************************/
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border: 5px solid var(--color-accent);
  border-radius: 100%;
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--color-accent);  
}

.home__description {
  font-size: 1.3rem;
  margin: 0;
}

.home__contact {
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 2rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  font-weight: bold;
  border-radius: 4px;
}

.home__contact:hover {
  color: var(--color-text);
  background-color: var(--color-primary);
  border: 2px solid var(--color-accent);
}


/**************************** 
*******  body - About ******** 
****************************/
.majors {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 2.5rem 0;
}

.major {
  background-color: var(--color-gray);
  color: var(--color-text);
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.major__icon {
  font-size: 4rem;
  color: var(--color-accent);
  margin: 1rem 0;
}

.major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}  

.jobs {
  text-align: start;
} /*앞쪽부터 시작*/

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.job__name {
  color: var(--color-primary);
}

.job__period {
  font-size: 0.8rem;
  color: var(--color-primary);
}



/**************************** 
*****  body - My Skills *****
****************************/
#skill {
  background-color: var(--color-gray);
  color: var(--color-text);
}

.skills {
  display: grid; 
  grid-template-columns: 6fr 4fr;
  margin: 2rem 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 8px 8px rgba(0,0,0,0.38);
}

.skill__title {
  color: var(--color-accent);
  font-size: 1.2rem;
  margin: 1rem 0;
}

.skills__coding {
  grid-row: span 2;
  background-color: var(--color-primary);
  padding: 1rem;
}

.skills__tools {
  padding: 1rem;
}

.skills__etc {
  padding: 1rem;
  background-color:  var(--color-primary);
  filter: brightness(150%); /*밝기*/
}

.bar {
  display: flex;
  /*flex-direction의 defaulr = row, 컬럼은 한줄씩 차지하도록*/
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
}

.bar__bg { 
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}

.bar__value {
  height: 3px;
  background-color: var(--color-accent);
}



/**************************** 
*****  body - My work *****
****************************/
#work {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2.5rem;
}

.category { 
  color: var(--color-text);
  padding: 0.5rem 3rem;
  font-size: 1.1rem;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  position: relative;
}

.category--selected {
  color: var(--color-primary);
  background-color: var(--color-accent);
}

.category__count {
  width: 28px;
  height: 28px;
  line-height: 28px; 
  color: var(--color-text);
  background-color: var(--color-orange);
  border-radius: 100%;
  position: absolute;
  top: -20px;
  right: 1rem;
  opacity: 0;
  transition: all 400ms ease-in;
}
/*inline이면 가운데 오기위해 line-height 지정*/

.category--selected .category__count,
.category:hover .category__count{
  opacity: 1;
  top: 0;
}

.projects { 
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
/* 1fr의 너비를 가진 열이 4개 반복 */

.project { 
  position: relative;
  overflow: hidden;
}

.project__img {
  width: 100%;
  border-radius: 8px;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  opacity: 0;
}
/*flex-direction: column; : 한줄한줄 차지*/

.project__metadata:hover {
  opacity: 0.8;
}   

.project__metadata__title::after {
  content: "";
  width: 50px;
  height: 5px;
  display: block;
  background-color: var(--color-accent);
  position: relative;
  margin: 0.8rem 0 ;
  left: 50px;
  transform: translateX(-50%);
}


/**************************** 
***  body - Testimonials ***
****************************/

.testimonials {
  margin: 3rem;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.testimonial:nth-child(even) .testimonial__img {
  order: 1;
}

.testimonial__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 4px 8px 8px rgba(0,0,0,0.38);
}

.testimonial__bubble{
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 4px 8px 8px rgba(0,0,0,0.38);
}

.testimonial__bubble__name {
  display: inline-block;
  margin-top: 0.3rem; 
  color: var(--color-accent);
  filter: brightness(50%);
  /* font-size: 1.5rem; */
}


/**************************** 
********  Arrow up ********
****************************/
.arrow--up {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  color: var(--color-text);
  background-color: var(--color-primary);
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--color-accent);
  
}


/**************************** 
**********  footer ********** 
****************************/
#contact {
  color: var(--color-text);
  background-color: var(--color-primary);

}
.contact__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 1rem;
}

.contact__link {
  color: var(--color-text);
  
}  

.contact__link:hover {
  color: var(--color-accent);
  
}  